/* 
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  } */


  .glow-button {
    border: none;
    background-color: rgb(255, 255, 255);
    color: white;
    position: relative;
  }

  .glow-button:hover {
    background-color: rgba(255, 255, 255, 0.42);
  }

  .glow-button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      45deg,
      red, blue, deeppink, blue,
      red,blue, deeppink, blue
    );

    background-size: 800%;
    border-radius: 10px;
    filter: blur(7px);
    animation: glowing 20s linear infinite;
  }

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
/* 
  #users {
    background-color: #fff;
  box-shadow: 0px 18.92px 37.84px rgb(38 26 25 / 25%);
  border-radius: 8px;
  margin: 3em 5em;
  padding: 2em;
  } */