
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(166, 233, 175) 50%, #ffed9e 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-2;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  
@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

  .navbar{
    background: linear-gradient(45deg, #cc7edf,rgb(129, 210, 140), #d7c368);
  }

  .container-principal {
    background-color: rgba(232, 232, 232, 0.642);
    backdrop-filter: blur(6px);
    box-shadow: 0px 18.92px 37.84px rgb(38 26 25 / 25%);
    border-radius: 8px;
    margin: 3em auto;
    padding: 2em;
  }

  .card-perso {
    background-color: rgb(214, 244, 218);;
    box-shadow: 0px 5px 10px rgb(38 26 25 / 25%);
    border-radius: 8px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f900;
  }

  .card-perso:hover {
    transition: all 0.2s ease-out;
    top: -5px;
    border: 1px solid #656565;
    background-color: rgb(166, 233, 175);
  }

  .card-perso:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #ffed9e;
    height: 32px;
    width: 32px;
    filter: blur(8px);
    transform: scale(5);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }
  .card-perso:hover:before {
    transform: scale(8);
  }

  .card-perso:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 90%;
    right: 90%;
    background: #ec9eff;
    height: 32px;
    width: 32px;
    filter: blur(8px);
    transform: scale(5);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }
  .card-perso:hover:after {
    transform: scale(8);
  }

  .glow-button {
    border: none;
    background-color: rgb(255, 255, 255);
    color: white;
    position: relative;
  }

  .glow-button:hover {
    background-color: rgba(255, 255, 255, 0.42);
  }

  .glow-button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      45deg,
      red, blue, deeppink, blue,
      red,blue, deeppink, blue
    );

    background-size: 800%;
    border-radius: 10px;
    filter: blur(7px);
    animation: glowing 20s linear infinite;
  }

  .glow-button:active {
    background-color: rgba(255, 255, 255, 0.793) !important;
  }

  

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }


  .selectAnimation {
    background-color: rgba(82, 221, 44, 0.915) !important;
    position: relative;
    animation: selected 0.2s linear infinite;
  }

  @keyframes selected {
    0% {
      transform: skewY(0.7deg);
    }
    50% {
      transform: skewY(-0.7deg);
    }
    100% {
      transform: skewY(0.7deg);
    }
  }

  .selectCardUser {
    cursor: pointer;
  }
  
/* 
  #users {
    background-color: #fff;
  box-shadow: 0px 18.92px 37.84px rgb(38 26 25 / 25%);
  border-radius: 8px;
  margin: 3em 5em;
  padding: 2em;
  } */